<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <DesktopBuildPackageLocation>U:\Software\Project\ShopABC.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>ShopABC</DeployIisAppPath>
    <_TargetId>IISWebDeployPackage</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ShopABC_Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=ShopABC;Persist Security Info=True;User ID=shopabc;Password=MNVx!szUBHsuxZ*7;Application Name=EntityFramework" Name="Data Source=localhost;Initial Catalog=ShopABC;Persist Security Info=True;User ID=shopabc;Password=MNVx!szUBHsuxZ*7;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShopABC.ShopABC_Entities, ShopABC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShopABC_Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ShopABC_DB.csdl|res://*/ShopABC_DB.ssdl|res://*/ShopABC_DB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=localhost;Initial Catalog=ShopABC;Persist Security Info=True;User ID=shopabc;Password=MNVx!szUBHsuxZ*7;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>